BusinessCardGenerator/.vs/
BusinessCardGenerator/BusinessCardGenerator.API/bin/
BusinessCardGenerator/BusinessCardGenerator.API/obj/
BusinessCardGenerator/BusinessCardGenerator.API/Migrations
zadachi.txt
